# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development
JWT_SECRET=dooboolab
DATABASE_URL="mysql://dev:UPpIucUXLs_[^uc0jJoh@18.177.109.96:3306/treedots"

# tookan
TOOKAN_API_KEY="foobar"