.text-color-main {
  color: #04565a !important;
}

.text-color-disable {
  color: #a2acb5 !important;
}

.text-color-disable {
  color: #a2acb5 !important;
}

.text-button-border-active {
  color: #04565a !important;
}

.text-button-border-disable {
  color: #a2acb5 !important;
}

.text-button-fill-disable {
  color: white !important;
}

.bg-button-fill-disable {
  background: #a2acb5 !important;
}

.text-button-fill-active {
  color: white !important;
}

.bg-button-fill-active {
  background: #04565a !important;
}

.text-button-fill-active-map {
  color: black !important;
}

.bg-button-fill-active-map {
  background: white !important;
}

.text-color-tab-no-active {
  color: #190101ab;
  font-weight: normal;
}

.bg-selected-modal {
  background: #e6eeef;
}
.text-option-fill-active {
  color: #04565a !important;
}
